body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-content {
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}
h2{
    color: #d9534f;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.edit-button {
    background-color: #f0ad4e;
}

.edit-button:hover {
    background-color: #ec971f;
}

.delete-button {
    background-color: #d9534f;
}

.delete-button:hover {
    background-color: #c9302c;
}
