.mainP {
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  
  .grid {
    margin: auto;
    padding-top: 20px;
    text-align: justify;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 50px;
  
    background-color:  rgb(236, 236, 236);
    width: auto;
  
    list-style: georgian;
      color: black;
  }
  
  .misionImagen {
    width: 250px;
    position: relative;
    top: 25px;
  border-radius: 5%;
    left: 100px;
  
    background: fixed;
  }
  